.App {
  text-align: center;
}

.center_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
}
